.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border-top: var(--border-style);
  border-bottom: var(--border-style);
  border-collapse: collapse;
}

tr {
  border-top: var(--border-style);
}

table {
  width: 100%;
}

button {
  margin-top: 1rem;
}
